# Lab 3 Comp 122 Fall 2022

1. Write a recursive function named <b> int_sum</b> that takes an integer (n) and adds all the digits in n (n is non-negative integer). Example, int_sum(24) > 6<br>
int_sum(1457) > 17 <br>
int_sum(2400) > 6

In [1]:
def int_sum(n):
    n = str(n)
    if len(n) == 1:
        return n
    else:
        return int(n[-1]) + int(int_sum(n[0:len(n) - 1]))
    
int_sum(17454)

21

2. <b>Fermat’s</b> Last Theorem says that there are no positive integers a, b, and c such that
for any values of n greater than 2.
<center><br><h2> a<sup>n</sup>+b<sup>n</sup>=c<sup>n</sup></h2></center><br>

Write a function named check_fermat that takes four parameters a, b, c and n and that
checks to see if Fermat’s theorem holds. If n is greater than 2 and it turns out to be true that<br><center><br><h2> a<sup>n</sup>+b<sup>n</sup>=c<sup>n</sup></h2></center><br><br>
the program should print, “Holy smokes, Fermat was wrong!” Otherwise the program should
print, “No, that doesn’t work.”

In [2]:
def check_fermat(a, b, c, n):
    x = a**n + b**n
    y = c**n
    if (x == y) and (n > 2):
        print("Holy smokes, Fermat was wrong!")
    else:
        print("No, that doesn't work.")

check_fermat(4, 5, 7, 1)

No, that doesn't work.

3. Write a recursive function named<b> l_sum</b> to calculate the sum of a list of numbers.<br>
example: l_sum([1,3,4,5,6]) > 19<br>
l_sum([5,10,20]) > 35

In [3]:
def I_sum(num):
    if len(num) == 0:
        return 0
    else:
        return num[0] + I_sum(num[1:])
    
I_sum([1, 2, 5])

8

4. Write a recursive function named sum_i to calculate the sum of the positive integers of i +(i-2)+(i-4)... (until i-n =< 0).<br>
Example: <br>
sum_i(10) > 30 <br>
sum_i(6) > 12

In [22]:
def sum_i(num):
    if num == 0:
        return 0
    else:
        return num + sum_i(num - 2)

sum_i(20)

110

5. Write a function named str_list_n to find the list of words that are longer than n from a given string of words.<br>example:<br>
str_list_n(5, "The way to get started is to quit talking and begin doing. -Walt Disney")<br>
['started', 'talking', 'doing.', 'Disney']<br><br>
str_list_n(7,"Life is what happens when you're busy making other plans. -John Lennon")<br>
[ ]<br><br>
str_list_n(5,"Life is what happens when you're busy making other plans. -John Lennon")<br>
['happens', "you're", 'making', 'plans.', 'Lennon']

In [5]:
def str_list_n(a, b):
    b = b.split()
    l = []
    for i in b:
        if len(i) > a:
            l.append(i)
    return l   

str_list_n(5,"The way to get started is to quit talking and begin doing. -Walt Disney")

['started', 'talking', 'doing.', 'Disney']

In [6]:
b = "hi world"
b = b.split()
print(b)
for i in b: 
    print(i)

['hi', 'world']
hi
world

6. Write a function named my_max_fun that takes a list of numbers and returns the largest number from a list. You cannot use the max() Built-in function. <br>
Example: my_max_fun([1,2,3,56,87,12])  > 87

In [7]:
def my_max_fun(num):
    num2 = num.sort()
    print(num[len(num) - 1])

my_max_fun([1,2,3,56,90,12])

90

In [8]:
def my_max_fun(num):
    num2 = num.sort()
    print(num[-1])

my_max_fun([1,2,3,56,97,12])

97

7.  Write a function named my_multiply that takes a list of numbers and returns the multiply of all the items in a list.<br>Example:<br>
my_multiply([1,2,3,4,5]) > 120<br>
my_multiply([2,15]) > 30

In [20]:
def my_multiply(n):
    if len(n) == 1:
        return n[0]
    else:
        return n[0] * my_multiply(n[1:])

In [21]:
my_multiply([1,2,3,4,5])

120

8. Write a python code to add item 11 after 1002 in the following Python List:<br>
<center>
  <h2>  my_list = [30, 20, [200, 40, [1001, 1002], 500], 30, 40]</h2></center>

In [10]:
my_list = [30, 20, [200, 40, [1001, 1002], 500], 30, 40]
(my_list[2][2]).insert(2,11)
print(my_list)

[30, 20, [200, 40, [1001, 1002, 11], 500], 30, 40]

# Python List index()

The index() method returns the index of the specified element in the list.<br>
Example:

In [12]:
animals = ['cat', 'dog', 'rabbit', 'horse']
# get the index of 'dog'
index_dog = animals.index('dog')
index_horse = animals.index('horse')
print("index of dog is at :" , index_dog," and index of horse is at: ", index_horse)

index of dog is at : 1  and index of horse is at:  3

9. Write a python code to find value 1011 in the following list and replace it with 2022. Only update the first occurrence of an item.<br>
list1 = [11, 101, 1101, 1011, 1111, 1110, 1]<br>
your code should print<br>
[11, 101, 1101, 2022, 1111, 0111, 1]

In [17]:
list1 = [11, 101, 1101, 1011, 1111, 1110, 1]

index_1011 = list1.index(1011)
print(index_1011)

list1[3] = 2022
print(list1)

3
[11, 101, 1101, 2022, 1111, 1110, 1]

# Python List remove()

The remove() method removes the first matching element (which is passed as an argument) from the list.<br>
Example:

In [15]:
# animals list
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

# 'rabbit' is removed
animals.remove('rabbit')

# Updated animals List
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig']

10. Write a function named remove_val that takes a list and a value. Your function should remove the value from the list.<br>
Example:<br>
remove_val([1,2,4,6,90,8,90], 90) > [1,2,4,6,8]

In [18]:
def remove_val(a, b):
    new_val = []
    for i in a:
        if i != b:
            new_val.append(i)
    return new_val

In [19]:
remove_val([1, 2, 4, 6, 2, 8, 90], 2)

[1, 4, 6, 8, 90]